body{
    width: 960px;
    margin: 0 auto;
}

#logo{
    height: 150px;
    padding: 1rem;
}

header{
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80'); 
	background-size: cover; 
	background-position: center; 
    margin-top: 0;
    height: 200px;
    box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.5);
}

header > h1{
    color: white; 
    font-family: 'Abyssinica SIL', serif;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding: 2rem;
}

h2{
    font-family: 'Abyssinica SIL', serif;

}

p{
    font-family: 'Raleway', sans-serif;
}

nav{
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
}

nav li{
    list-style-type: none;
    display: inline;
    margin:2em;
}

nav a{
    text-decoration: none;
    color: white; 
    padding:1em;
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
}

nav a:hover{
    color: #FDC500;
}

#domain,#site-purpose,#target-audience{
    margin-bottom: 4rem;
}


#logo-space{
    background-color: rgba(0,0,0,0.5);
    color: white; 
    margin-bottom: 4rem;
}

main{
    padding-left: 10px;
    padding-right: 10px;
}

footer{
    text-align: center;
    background-color: #FDC500;
    color: black;
    font-size: 1rem;
    padding: 1.3rem;
    margin-top: 4rem;
    font-weight: bold;
    box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.5);
}

.personas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;

}

#persona1{
    grid-column: 1/2;
    text-align: justify;
    background-color: #DCDCDC;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    
}

#persona2{
    grid-column: 2/3;
    text-align: justify;
    background-color: #DCDCDC;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

table{
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

tr{
    text-align: center;
    background-color: #DCDCDC;
}

th{
    padding: 10px;
}

.primary{
    background-color: #FDC500;
    padding: 2rem;
}
.secondary{
    background-color: black;
    color: white;
    padding: 2rem;

}
.accent1{
    background-color: #DCDCDC;
    padding: 2rem;
}

#colored{
    background-color: #DCDCDC;
    padding: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width : 768px){
    nav li a{
        display: block;
    }
    body{
        width: 100%;
    }

    header > h1{
        font-size: 1.8rem;
    }

    main .personas{
        display: block;
    }

    main .personas #persona1,#persona2{
        margin-top: 1rem;
    }
}

@media only screen and (max-width : 350px){
    nav li a{
        display: block;
    }

    main .personas{
        display: block;
    }

    main .personas #persona1,#persona2{
        margin-top: 1rem;
    }
}